@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

noscript {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --fs-h1: 2.75rem;
  --lh-h1: 3.5rem;
  --fs-h2: 2rem;
  --lh-h2: 2.5rem;
  --fs-h3: 1.375rem;
  --lh-h3: 2rem;
  --fs-body: 1rem;
  --lh-body: 1.5rem;
  --fs-small: 0.75rem;
  --lh-small: 1rem;
}

@media (min-width: 600px) {
  :root {
    --fs-h1: 4.75rem;
    --lh-h1: 5rem;
    --fs-h2: 2.875rem;
    --lh-h2: 3.5rem;
    --fs-h3: 1.875rem;
    --lh-h3: 2.5rem;
    --fs-body: 1.125rem;
  }
}
body {
  font-family: "Nunito", sans-serif;
  font-size: var(--fs-body);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}

h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
}

small {
  font-size: var(--fs-small);
  line-height: var(--lh-small);
}

:root {
  --col-primary: hsl(21, 99%, 50%);
  --col-primary-darker: hsl(21, 100%, 40%);
  --col-secondary: hsl(180, 68%, 41%);
  --col-darkest: hsl(191, 13%, 17%);
  --col-dark: hsl(188, 10%, 30%);
  --col-neutral: hsl(188, 6%, 50%);
  --col-light: hsl(187, 7%, 75%);
  --col-lightest: hsl(192, 6%, 85%);
  --col-error: hsl(0, 100%, 55%);
  --col-success: hsl(155, 95%, 37%);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--col-darkest);
  background-image: url("../../img/bg-funky-lines.png");
  background-blend-mode: multiply;
  color: var(--col-lightest);
}

.accent-primary {
  color: var(--col-primary);
}

.link {
  color: var(--col-primary);
  text-decoration: underline;
}

em {
  color: var(--col-secondary);
  font-style: normal;
}

.section {
  padding: 5rem 2rem;
  border-bottom: 1px solid var(--col-dark);
  text-align: center;
}
@media (min-width: 600px) {
  .section {
    padding: 11.5rem 3.5rem;
  }
}

.section__title {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.title-separator::after {
  content: "";
  position: absolute;
  background-color: var(--col-primary-darker);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 1px;
}

.article {
  margin-bottom: 2rem;
}
.article p {
  text-align: left;
  margin-bottom: 1.5rem;
}

.toggler {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 56rem;
  max-width: 82rem;
  margin: 0 auto;
}

.header {
  background: linear-gradient(to left, var(--col-primary), var(--col-secondary)) left bottom no-repeat;
  background-size: 100% 1px;
}

.skip-nav-link {
  position: absolute;
  z-index: 3;
  opacity: 0.8;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 0 0 0.25rem 0.25rem;
  left: 1rem;
  transform: translateY(-120%);
  transition: transform 0.3s ease-in;
}
.skip-nav-link:focus {
  transform: translateY(0);
}

.header__container {
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-weight: 700;
}

.menu-toggle {
  position: relative;
  cursor: pointer;
}
.menu-toggle::before, .menu-toggle::after, .menu-toggle div {
  content: "";
  height: 0.25rem;
  width: 2rem;
  display: block;
  border-radius: 0.25rem;
  margin-block: 0.25rem;
  background-color: var(--col-lightest);
  transition: ease-out 0.3s;
}

.menu-toggle-open::before {
  transform: translateY(8px) rotate(135deg);
}
.menu-toggle-open::after {
  transform: translateY(-8px) rotate(-135deg);
}
.menu-toggle-open div {
  transform: translateX(-30px) scale(0);
}

.navbar-menu {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  background-color: var(--col-dark);
  border-radius: 0 0 0 0.5rem;
  border: 1px solid var(--col-primary);
  border-right: none;
  clip-path: circle(0 at top right);
  transition: clip-path ease-out 0.5s;
}
.navbar-menu .iconify {
  margin-right: 1rem;
}
.navbar-menu li {
  border-bottom: 1px solid var(--col-darkest);
  padding: 1rem;
}
.navbar-menu li:last-child {
  border-bottom: 0;
}
.navbar-menu a {
  text-transform: uppercase;
  position: relative;
  padding: 1rem 2rem;
  display: block;
}

.nav-open {
  clip-path: circle(140% at top right);
}

@media (min-width: 900px) {
  .header__container {
    padding: 1.5rem 4rem;
  }
  .header__container .navbar-menu {
    position: relative;
    border: initial;
    clip-path: initial;
    background-color: initial;
  }
  .header__container .menu {
    display: flex;
    align-items: center;
  }
  .header__container .menu li {
    padding: initial;
  }
  .header__container .menu li + li {
    padding-left: 3rem;
  }
  .header__container .menu a {
    padding: 0;
  }
  .header__container .menu a.btn-small {
    padding: 0.24rem 0.75rem;
  }
  .header__container .menu a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--col-primary);
    transition: width 250ms ease-out;
  }
  .header__container .menu a:hover::after, .header__container .menu a:focus::after {
    width: 100%;
  }
  .header__container .menu-toggle {
    display: none;
  }
  .header__container .fas {
    display: none;
  }
}
.footer {
  background: linear-gradient(to left, var(--col-secondary), var(--col-primary)) left top no-repeat;
  background-size: 100% 1px;
}

.footer__container {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}

.made-by {
  display: none;
}

.social-icons {
  margin-right: 4rem;
}
.social-icons a {
  padding-inline: 1rem;
  color: var(--col-secondary);
  font-size: 1.5rem;
  cursor: pointer;
}

@media (min-width: 600px) {
  .footer__container {
    justify-content: space-between;
  }

  .made-by {
    display: inline-block;
  }
}
.btn, .btn-secondary, .btn-primary {
  display: inline-block;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: var(--lh-body);
  cursor: pointer;
}
.btn-primary {
  background-color: var(--col-primary);
  color: var(--col-darkest);
  border: 2px solid var(--col-primary);
}
.btn-primary:hover {
  background-color: var(--col-primary-darker);
}
.btn-secondary {
  background-color: transparent;
  color: var(--col-primary);
  border: 2px solid var(--col-primary);
}
.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.btn-big {
  padding: 0.74rem 1.5rem;
  font-size: var(--fs-h3);
}

.btn-small {
  padding: 0.24rem 0.75rem;
}

#top-btn {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 1rem;
  right: 2rem;
  padding: 0;
  border: 1px solid var(--col-neutral);
  border-radius: 0.25rem;
  background-color: var(--col-dark);
  cursor: pointer;
  transition: background-color 0.3s;
}
#top-btn:hover {
  background-color: var(--col-darkest);
}
#top-btn .iconify {
  font-size: 1rem;
  margin: 0.75rem;
  margin-bottom: 0.5rem;
  color: var(--col-secondary);
}
#top-btn.reveal {
  display: block;
  animation-name: btn-reveal;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
#top-btn.reveal .iconify {
  animation-name: arrow-up;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
@keyframes btn-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-up {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.25rem);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  75% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

.toggle-services__input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.toggle-services {
  border: 1px solid var(--col-dark);
  border-radius: 0.25rem;
  width: 10rem;
  height: 3rem;
  margin-inline: auto;
  background-color: var(--col-darkest);
  margin-bottom: 1.5rem;
  overflow: hidden;
}
@media (min-width: 600px) {
  .toggle-services {
    width: 11rem;
  }
}
.toggle-services__label {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.toggle-services__label::after, .toggle-services__label::before {
  position: absolute;
  top: 50%;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--col-dark);
  transform: translateY(-50%);
}
.toggle-services__label::before {
  content: "TEXT";
  left: 1.25rem;
}
.toggle-services__label::after {
  content: "ICONS";
  right: 1rem;
}

@media (min-width: 900px) {
  .toggle-services {
    margin-bottom: 2rem;
  }
}
.knob:before {
  content: "TEXT";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  padding-block: 0.75rem;
  color: var(--col-primary);
  background-color: var(--col-dark);
  border-radius: 0.25rem;
  transition: 0.3s ease all, left 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.toggle-services__input:active + .knob:before {
  width: 75%;
  border-radius: 1rem;
}

.toggle-services__input:checked:active + .knob:before {
  margin-left: -25%;
}

.toggle-services__input:checked + .knob:before {
  content: "ICONS";
  left: 50%;
}

.about__legend {
  text-transform: uppercase;
  color: var(--col-neutral);
  margin-bottom: 0.5rem;
}

.toggler__about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 15rem;
}

.about__label {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 1.75rem;
}
.about__label:hover .about__checkmark {
  background-color: var(--col-dark);
}

.about__input {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}
.about__input:checked ~ .about__checkmark::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}
.about__input:checked ~ .about__checkmark::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.about__checkmark {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--col-primary);
  border-radius: 50%;
}
.about__checkmark::after, .about__checkmark::before {
  content: "";
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 4px;
  border-radius: 100px;
  background: var(--col-secondary);
  transition: all 150ms ease-in;
}
.about__checkmark::after {
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
}
.about__checkmark::before {
  transform: translate(-50%, -50%) rotate(-45deg) scale(0);
}

.section--hero {
  padding-block: 8rem;
}

.section__title--hero {
  font-weight: 700;
  max-width: 50rem;
  margin-inline: auto;
}

.hero__img {
  display: none;
}

.hero__btn {
  margin-top: 4rem;
  text-align: center;
}
.hero__btn .iconify {
  margin-left: 0.5em;
  font-size: 0.9em;
}

@media (min-width: 600px) {
  .section__title--hero {
    text-align: left;
  }
}
@media (min-width: 900px) {
  .section__title--hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }

  .hero__img {
    display: block;
    max-width: 10rem;
  }
}
.services__title {
  color: var(--col-secondary);
  margin-bottom: 0.5rem;
}
.services__title--learning {
  position: relative;
  margin-top: 2rem;
  padding-top: 2rem;
}
.services__title--learning::before {
  content: "";
  position: absolute;
  background-color: var(--col-dark);
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 1px;
}

.services__icons {
  font-size: var(--fs-h3);
}
.services__icons p {
  position: relative;
  text-align: center;
}
.services__icons .iconify {
  position: relative;
  margin: 0.5rem 0.7rem 0;
  width: 3rem;
  height: 3rem;
}
.services__icons .bg-light {
  background-color: var(--col-light);
  padding: 0.25rem;
  border-radius: 0.125rem;
}

.tooltip-wrapper {
  position: relative;
}
.tooltip-wrapper::after {
  position: absolute;
  z-index: 2;
  content: attr(data-tooltip);
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: var(--fs-small);
  background-color: var(--col-dark);
  border-radius: 0.125rem;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.3s, transform 0.5s ease-out;
}
.tooltip-wrapper:hover::after {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 900px) {
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
  }
  .services .article {
    padding: 0.75rem 1em;
    border-left: 1px solid var(--col-dark);
  }
  .services .services__title,
.services .services__icons p {
    text-align: left;
  }
  .services .services__icons p {
    transform: translateX(-0.7rem);
  }
}
.about-normal,
.about-short,
.about-long {
  display: none;
  opacity: 0;
  animation-name: reveal;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.reveal-about {
  display: block;
  opacity: 1;
}

@keyframes reveal {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 900px) {
  .article--about {
    max-width: 55ch;
    margin-inline: auto;
  }
}
.disclaimer {
  margin-bottom: 3rem;
  text-align: left;
}
.disclaimer .disclaimer__title {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  text-align: center;
  color: var(--col-primary);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  padding-top: 1.5rem;
}

.card, .card__below, .card__below-2, .card__below-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin-bottom: 3.5rem;
  margin-inline: auto;
  max-width: 20rem;
  background-color: var(--col-darkest);
  box-shadow: 11px 11px 11px 0px #1b2122, -11px -11px 11px 0px #313c3f;
}

.card__img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 1.5rem;
}

.card__title {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}

.card__text {
  margin-block: 1.5rem;
}

.card__links {
  margin-top: auto;
}
.card__links a:last-child {
  float: right;
}

.card__below, .card__below-2, .card__below-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card__below-1 {
  transform: rotate(10deg);
}

.card__below-2 {
  transform: rotate(5deg);
}

@media (min-width: 900px) {
  .disclaimer {
    max-width: 60ch;
    margin-inline: auto;
  }
}
.section--contact {
  position: relative;
  border-bottom: none;
}
.section--contact .article {
  max-width: 70ch;
  margin-inline: auto;
}

.envelope {
  margin-right: 0.5em;
}

.my-mail {
  margin-top: 2rem;
}

.contact-form {
  margin-top: 2rem;
  max-width: 70ch;
  margin-inline: auto;
}

.contact__textarea {
  resize: vertical;
}

.contact__input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.contact__input {
  width: 100%;
  border: 2px solid var(--col-neutral);
  border-radius: 0.25rem;
  color: var(--col-lightest);
  padding: 0.5rem 1rem;
  background-color: var(--col-dark);
}
.contact__input:hover {
  border-color: var(--col-primary-darker);
}
.contact__input:focus {
  outline: none;
  border-color: var(--col-secondary);
}

.contact__label {
  position: absolute;
  top: calc(0.3rem + 2px);
  padding: 0.2rem 0.5rem;
  left: 0.5rem;
  background-color: var(--col-dark);
  cursor: text;
  transition: top, left, font-size, 0.2s ease-out;
  border-radius: 0.25rem;
}

.contact__input:focus ~ .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) ~ .contact__label {
  top: -0.7rem;
  left: 0.6rem;
  font-size: 0.8rem;
  color: var(--col-secondary);
  letter-spacing: 0.1em;
}

.paper-plane {
  margin-left: 0.5em;
}

.success-text {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
  font-size: var(--fs-body);
  background-color: var(--col-success);
  color: var(--col-darkest);
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
}
@media (min-width: 600px) {
  .success-text {
    margin-top: 5rem;
  }
}

.error-icon {
  position: absolute;
  color: var(--col-error);
  top: 50%;
  right: 1rem;
  transform: translateY(-50%) scale(0.5);
  display: none;
  animation-name: error;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.error-text {
  position: absolute;
  right: 0;
  top: 100%;
  color: var(--col-error);
  display: none;
}
@media (min-width: 600px) {
  .error-text {
    top: 95%;
  }
}

@keyframes error {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.4);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
