@use 'base' as *;
@use 'abstracts' as *;
@use 'utilities' as *;
@use 'components' as *;

//* - - - - - - - - - - - - - - - - - HERO - - - - - - - - - - - - - - - - -

.section--hero {
    padding-block: 8rem;
}

.section__title--hero {
    font-weight: $fw-bold;
    max-width: 50rem;
    margin-inline: auto;
}

.hero__img {
    display: none;
}

.hero__btn {
    margin-top: 4rem;
    text-align: center;

    .iconify {
        margin-left: 0.5em;
        font-size: 0.9em;
    }
}

@include for-tablet-portrait-up {
    .section__title--hero {
        text-align: left;
    }
}

@include for-tablet-landscape-up {
    .section__title--hero {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    .hero__img {
        display: block;
        max-width: 10rem;
    }
}

//* - - - - - - - - - - - - - - - - - SERVICES - - - - - - - - - - - - - - - - -

.services__title {
    color: var(--col-secondary);
    margin-bottom: 0.5rem;

    &--learning {
        position: relative;
        margin-top: 2rem;
        padding-top: 2rem;

        &::before {
            content: '';
            position: absolute;
            background-color: var(--col-dark);
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 6rem;
            height: 1px;
        }
    }
}

.services__icons {
    font-size: var(--fs-h3);

    p {
        position: relative;
        text-align: center;
    }

    .iconify {
        position: relative;
        margin: 0.5rem 0.7rem 0;
        width: 3rem;
        height: 3rem;
    }

    .bg-light {
        background-color: var(--col-light);
        padding: 0.25rem;
        border-radius: $br-s;
    }
}

.tooltip-wrapper {
    position: relative;

    &::after {
        position: absolute;
        z-index: 2;
        content: attr(data-tooltip);
        top: 100%;
        left: 0;
        right: 0;
        text-align: center;
        font-size: var(--fs-small);
        background-color: var(--col-dark);
        border-radius: $br-s;
        opacity: 0;
        transform: translateY(5px);
        transition: opacity 0.3s, transform 0.5s ease-out;
    }

    &:hover {
        &::after {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@include for-tablet-landscape-up {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 1rem;

        .article {
            padding: 0.75rem 1em;
            border-left: 1px solid var(--col-dark);
            // border-radius: $br-l
        }

        .services__title,
        .services__icons p {
            text-align: left;
        }

        .services__icons p { transform: translateX(-0.7rem); }
    }

    
}

//* - - - - - - - - - - - - - - - - - ABOUT - - - - - - - - - - - - - - - - -

.about-normal,
.about-short,
.about-long {
    display: none;
    opacity: 0;
    animation-name: reveal;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.reveal-about {
    display: block;
    opacity: 1;
}

@keyframes reveal {
    0% {display: none; opacity: 0;}
    1% {display: block;}
    100% {opacity: 1;}
}

@include for-tablet-landscape-up {
    .article--about {
        max-width: 55ch;
        margin-inline: auto;
    }
}

//* - - - - - - - - - - - - - - - - - MY WORK - - - - - - - - - - - - - - - - -

.disclaimer {
    margin-bottom: 3rem;
    text-align: left;

    .disclaimer__title {
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
        text-align: center;
        color: var(--col-primary)
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
    padding-top: 1.5rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: $br-l;
    margin-bottom: 3.5rem;
    margin-inline: auto;
    max-width: 20rem;
    background-color: var(--col-darkest);
    box-shadow: 11px 11px 11px 0px hsla(189, 11%, 12%, 1),
                -11px -11px 11px 0px hsla(192, 13%, 22%, 1);
}

.card__img {
    border-top-left-radius: $br-l;
    border-top-right-radius: $br-l;
}

.card__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 1.5rem;
}

.card__title {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
}

.card__text {
    margin-block: 1.5rem;
}

.card__links {
    // display: flex;
    // justify-content: space-between;
    margin-top: auto;

    a:last-child {
        float: right;
    }
}

//? CARD rotate
.card__below {
    @extend .card;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.card__below-1 {
    @extend .card__below;
    transform: rotate(10deg);
}

.card__below-2 {
    @extend .card__below;
    transform: rotate(5deg);
}

@include for-tablet-landscape-up {
    .disclaimer { 
        max-width: 60ch;
        margin-inline: auto;
    }
}

//* - - - - - - - - - - - - - - - - - CODEPEN - - - - - - - - - - - - - - - - -

// .fa-codepen {
//     margin-right: 0.5rem;
// }

//* - - - - - - - - - - - - - - - - - CONTACTS - - - - - - - - - - - - - - - - -

.section--contact {
    position: relative;
    border-bottom: none;

    .article {
        max-width: 70ch;
        margin-inline: auto;
    }
}

.envelope { margin-right: 0.5em; }

.my-mail { margin-top: 2rem}

.contact-form {
    // display: flex;
    // flex-direction: column;
    margin-top: 2rem;
    max-width: 70ch;
    margin-inline: auto;
}

.contact__textarea {
    resize: vertical;
    // width: min(35em, 100%)
    // min-height: 10em;
}
.contact__input-container {
    position: relative;
    margin-bottom: 1.5rem;
}

.contact__input {
    width: 100%;
    border: 2px solid var(--col-neutral);
    border-radius: $br-m;
    color: var(--col-lightest);
    // outline: none;
    padding: 0.5rem 1rem;
    background-color: var(--col-dark);

    &:hover {
        border-color: var(--col-primary-darker);
    }
    &:focus {
        outline: none;
        border-color: var(--col-secondary);
    }
}

.contact__label {
    position: absolute;
    top: calc(0.3rem + 2px);
    padding: 0.2rem 0.5rem;
    left: 0.5rem;
    background-color: var(--col-dark);
    cursor: text;
    transition: top, left, font-size, 0.2s ease-out;
    border-radius: $br-m;
}

.contact__input:focus ~ .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) ~ .contact__label {
    top: -0.7rem;
    left: 0.6rem;
    font-size: 0.8rem;
    color: var(--col-secondary);
    letter-spacing: 0.1em;
}

.paper-plane { margin-left: 0.5em; }

.success-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    font-size: var(--fs-body);
    background-color: var(--col-success);
    color: var(--col-darkest);
    padding: 0.5rem 1rem;
    border-radius: $br-s;

    @include for-tablet-portrait-up {
        margin-top: 5rem;
    }
}

.error-icon {
    position: absolute;
    color: var(--col-error);
    top: 50%;
    right: 1rem;
    transform: translateY(-50%) scale(0.5);
    display: none;
    animation-name: error;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.error-text {
    position: absolute;
    right: 0;
    top: 100%;
    color: var(--col-error);
    display: none;

    @include for-tablet-portrait-up { top: 95% }
}

@keyframes error {
    0% { transform: translateY(-50%) scale(1);}
    50% { transform: translateY(-50%) scale(1.4); }
    100% { transform: translateY(-50%) scale(1); }
}