@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.footer {
    background:
        linear-gradient(to left,  var(--col-secondary), var(--col-primary))
        left top
        no-repeat;
    background-size: 100% 1px;
}

.footer__container {
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
}

.made-by {
    display: none;
}

.social-icons {
    margin-inline: min(2.5rem, 10%);

    a {
        display: inline-block;
        padding-inline: 1rem;
        color: var(--col-secondary);
        font-size: 1.5rem;
        cursor: pointer;
        transition: transform 0.2s ease-out;

        &:hover { transform: scale(1.2); }
    }
}

@include for-tablet-portrait-up {
    .footer__container { justify-content: space-between; }
    .made-by { display: inline-block; }
}
