@use '../base/typography' as *;
@use '../abstracts/colors' as *;

.btn {
    display: inline-block;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-weight: $fw-bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: var(--lh-body);
    cursor: pointer;

    &-primary {
        @extend .btn;
        
        background-color: var(--col-primary);
        color: var(--col-darkest);
        border: 2px solid var(--col-primary);
    
        &:hover {
            background-color: var(--col-primary-darker);
        }
    }

    &-secondary {
        @extend .btn;
    
        background-color: transparent;
        color: var(--col-primary);
        border: 2px solid var(--col-primary);
    
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.2);
        }
    }
    
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.btn-big {
    padding: 0.74rem 1.5rem;
    font-size: var(--fs-h3);
}

.btn-small {
    padding: 0.24rem 0.75rem;
}
