@use '../base/typography' as *;
@use '../base/custom' as *;
@use '../abstracts/colors' as *;

.btn {
    display: inline-block;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-weight: $fw-bold;
    text-transform: uppercase;
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    cursor: pointer;
    transition: background-color 200ms;

    &-primary {
        @extend .btn;
        
        background-color: var(--col-primary);
        color: var(--col-darkest);
        border: 2px solid var(--col-primary);
    
        &:hover {
            background-color: var(--col-primary-darker);
        }
    }

    &-secondary {
        @extend .btn;
    
        background-color: transparent;
        color: var(--col-primary);
        border: 2px solid var(--col-primary);
    
        &:hover {
            background-color: var(--col-dark);
        }
    }
    
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.btn-big {
    padding: 0.74rem 1.5rem;
    font-size: var(--fs-h3);
}

.btn-small {
    padding: 0.25rem 0.75rem;
}

#top-btn {
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 1rem;
    right: 2rem;
    padding: 0;
    border: 1px solid var(--col-neutral);
    border-radius: $br-m;
    background-color: var(--col-dark);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--col-darkest);
    }
    
    .iconify {
        font-size: 1rem;
        margin: 0.75rem;
        margin-bottom: 0.5rem;
        color: var(--col-secondary);       
    }

    &.reveal {
        display: block;
        animation-name: btn-reveal;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        .iconify {
            animation-name: arrow-up;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;
        }
    }

    @keyframes btn-reveal {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @keyframes arrow-up {
        0% { transform: translateY(0); }
        25% { transform: translateY(0.25rem);}
        50% { transform: translateY(-0.25rem);}
        75% { transform: translateY(0.25rem);}
        100% { transform: translateY(0);}
        
    }
}

