@use '../base' as *;
@use '../abstracts/mixins' as *;

//* SERVICES SWITCHER

.toggle-services__input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.toggle-services {
    border: 1px solid var(--col-dark);
    border-radius: $br-m;
    width: 10rem;
    height: 3rem;
    margin-inline: auto;
    background-color: var(--col-darkest);
    margin-bottom: 1.5rem;
    overflow: hidden;

    &:hover {
        .toggle-services__label {
            &::after, &::before {
                color: var(--col-neutral);
            }
        }
    }
    
    &__label {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
        cursor: pointer;
        
        &::after, &::before {
            position: absolute;
            top: 50%;
            font-size: var(--fs-body);
            line-height: var(--lh-body);
            color: var(--col-dark);
            transform: translateY(-50%);
            transition: color 0.2s ease-out;
        }
        
        &::before {
            content: 'TEXT';
            left: 1.25rem;
        }
        
        &::after {
            content: 'ICONS';
            right: 1rem;
        }
    }

    @include for-tablet-portrait-up { width: 11rem; }
    @include for-tablet-landscape-up { margin-bottom: 2rem; }
}


// Unchecked (Text selected) [X  ]
.knob:before {
    content: 'TEXT';
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    padding-block: 0.75rem;
    color: var(--col-primary);
    background-color: var(--col-dark);
    border-radius: $br-m;
    transition: 0.3s ease all, left 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

// Transition from inactive to active (-->)
.toggle-services__input:active + .knob:before {
    width: 75%;
    border-radius: 1rem;
}

// Transition from inactive to active (<--)
.toggle-services__input:checked:active + .knob:before {
    margin-left: -25%;
}

// Checked (Icons selected)  [   X]
.toggle-services__input:checked + .knob:before {
    content: 'ICONS';
    left: 50%;
}

//* BIO LENGTH TOGGLE

.about__legend {
    text-transform: uppercase;
    color: var(--col-neutral);
    margin-bottom: 0.5rem;
}

.toggler__about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 15rem;   
}

.about__label {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-weight: $fw-bold;
    padding-top: 1.75rem;

    &:hover {
        .about__checkmark {
            background-color: var(--col-dark);
        }
    }
}

.about__input {
    position: absolute;
    pointer-events: none;
    visibility: hidden;

    &:checked ~ .about__checkmark {
        &::before {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(-45deg) scale(1);
            animation: stretch-animate-before .5s ease-out;
        }

        &::after {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
            animation: stretch-animate-after .5s ease-out;
        }

    }
}

.about__checkmark {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--col-secondary);
    border-radius: 50%;

    &::after,
    &::before {
        content: '';
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        width: 1rem;
        height: 4px;
        border-radius: 100px;
        background: var(--col-primary);
        transition: all 150ms ease-in;
    }

    &::after {
        transform: translate(-50%, -50%) rotate(45deg) scale(0);
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    }      
}


@keyframes stretch-animate-after {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) scale(0,0);
    }
    40% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
    }
    80%{
        transform: translate(-50%, -50%) rotate(70deg) scale(1,1);
    }
    100% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1,1);
    }
  }
  
  @keyframes stretch-animate-before {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) scale(0,0);
    }
    40% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
    }
    80%{
        transform: translate(-50%, -50%) rotate(-70deg) scale(1,1);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-45deg) scale(1,1);
    }
  }
